.body{ font: 14px "Century Gothic", Futura, sans-serif;
    background-color: rgb(227, 253, 189);
    margin: auto;
    padding: 2px 75px;
    /*text-align: center*/;}

.Zest{
    font-style: "v";
    font-size: 20px;
}

.form{
    margin: 10px;  
    margin-left: auto;
    
}
button{
    margin: 10px;  
    margin-left: auto;
    /*text-align: center;*/
    background-color: green;
    color: white;
    padding: 2px 65px 2px 73px ; 
}